body {
  background-image: url(./img/body.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header{
  display: flex;
  justify-content: space-between;
  color: #fff;
  background: rgba(136, 133, 133, 0.5);
  font: bold;
  padding-bottom: 5px;
}

.status__bar i{
  font-size: 18px;
}

.status__bar span{
  margin-left: 10px;
}

.status__bar__2 i{
  margin-right: 10px;
}

.status__bar,
.status__bar__2{
  margin: 0 20px;
  font-size: 17px;
}

.icon-computer img{
  width: 90px;
  
}

.icon-computer p{
  color: #fff;
}


#container #dock{
width: 100%;
text-align: center;
margin: 0 auto;
}
#container {
position: fixed;
display: inline;
bottom: 0;
text-align: center;
right: 20%;
left: 10%;
width: 79%;
padding: 5px;
background: rgba(255, 255, 255, 0.2);
border-radius: 10px 10px 0 0;
}

.js-clock{
color: #cccccc;
font-size: 20px;
}

#container li {
list-style-type: none;
display: inline-block;
position: relative;
}

#container li img {
width: 50px;
height: 50px;
-webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(255, 255, 255, .5)));
-webkit-transition: all 0.3s;
-webkit-transform-origin: 40% 70%;
}

#container li:hover img {
-webkit-transform: scale(2);
margin: 0 2em;
}

#container li:hover+li img,
#container li.prev img {
-webkit-transform: scale(1.5);
margin: 0 1.5em;
}

#container li span{
display: none;
position: absolute;
bottom: 100px;
left: 0;
width: 100%;
background-color: #222;
padding: 4px 0;
border-radius: 7px;
}

#container li:hover span{
display: block;
color: #fff;
}

.badge{
  position: absolute;
  top: -7px;
  right: -10px;
  font-size: 10px;
  color: white;
  background-color: red;
  width: 30px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;

}
.icon-computer {
width: 60px;
margin: 10px;
cursor: pointer;
}

/*Terminal css*/
.wrapper {
width: 50%;
height: 100%;
display: -webkit-box;
display: flex;
-webkit-box-pack: center;
        justify-content: center;
-webkit-box-align: center;
        align-items: center;
}

.terminal {
width: 90%;
max-width: 600px;
height: 40%;
min-height: 300px;
background: rgba(8, 57, 82, 0.64);
border-radius: 7px 7px;
-webkit-transition: box-shadow .3s linear;
transition: box-shadow .3s linear;
-webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
}
.terminal:hover {
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.terminal:active {
cursor: move;
box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
}
.terminal__head {
width: 100%;
height: 25px;
background: #ccc -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#d5d5d5));
background: #ccc linear-gradient(to bottom, #ebebeb, #d5d5d5);
border-radius: 7px 7px 0 0;
display: -webkit-box;
display: flex;
-webkit-box-pack: start;
        justify-content: start;
-webkit-box-align: center;
        align-items: center;
}
.terminal__text {
padding: 20px 5%;
line-height: 1.5;
font-size: 17px;
}
.terminal__text a {
color: #52a563;
text-decoration: none;
}
.terminal__text__span:before {
content: '$ ';
color: #52a563;
}

.head__circle {
position: relative;
display: inline-block;
width: 10px;
height: 10px;
margin-left: 4px;
font-size: 0;
font-weight: 500;
border-radius: 10px;
}
.head__circle--close {
background: #ff5c5c;
border: 1px solid #e33e41;
margin-left: 7px;
}
.head__circle--close:hover:before {
top: -14px;
left: .4px;
font-size: 22px;
color: #820005;
content: "\2A2F";
position: absolute;
}
.head__circle--turn {
background: #ffbd4c;
border: 1px solid #e09e3e;
}
.head__circle--turn:hover:before {
content: '';
top: 4px;
left: 1px;
width: 8px;
height: 2px;
background: #9a5518;
position: absolute;
}
.head__circle--expand {
background: #00ca56;
border: 1px solid #14ae46;
top: 1px;
}
.head__circle--expand:hover:before {
content: '';
top: 4px;
left: 1px;
width: 7px;
height: 2px;
background: #006519;
position: absolute;
}
.head__circle--expand:hover:after {
content: '';
top: 1px;
left: 4px;
width: 2px;
height: 8px;
background: #006519;
position: absolute;
}

/*Terminal css*/


/* folder css */
body {
overflow: hidden;
}

.window {
background-image: url('http://res.cloudinary.com/dr5ei3rt1/image/upload/v1500514809/windows_10_nuam7e.jpg');
color: white;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
overflow: hidden;
}

footer.footer i {
font-size: 1.4em;
}

footer.footer {
background-color: rgba(1, 1, 1, .8);
border-color: rgba(1, 1, 1, .8);
}

footer.footer .left .col-xs-1 {
width: 4.333%;
text-align: left;
padding-left: 30px;
overflow: hidden;
}

footer.footer .left .col-xs-1-me:first-child {
margin-left: 15px;
border-bottom: 2px solid #76b9ed;
}

footer.footer .left .col-xs-1-me {
float: left;
width: 40px;
height: 40px;
padding-top: 10px;
margin-right: 10px;
}

footer.footer .left .col-xs-1-me:nth-of-type(2) i {
transform: rotate(90deg);
}

footer.footer .left .col-xs-1-me:hover {
/*border-bottom: 3px solid #76b9ed;*/
background-color: rgba(255, 255, 255, .15);
}

footer.footer .right .col-xs-1 {
width: 4.333%;
text-align: right;
padding-right: 30px;
overflow: hidden;
}

footer.footer .right .col-xs-1-me:first-child {
margin-right: 15px;
border: none;
height: 40px;
width: 5px;
border-left: 1px solid #7d7d7d;
}

footer.footer .right .col-xs-1-me {
float: right;
width: 40px;
height: 40px;
padding-top: 10px;
/*border-bottom: 3px solid #76b9ed;*/
margin-left: 10px;
}

footer.footer .right .col-xs-1-me:hover {
/*border-bottom: 3px solid #76b9ed;*/
background-color: rgba(255, 255, 255, .15);
}

footer.footer .right .date {
width: 80px;
padding: 0;
}

footer.footer .right i {
font-size: 1em;
}

.start-window {
width: 960px;
height: 530px;
position: fixed;
left: 0;
bottom: 40px;
background-color: rgba(21, 21, 21, 0.9);
transition: all .1s ease-in-out;
}

.start-window .first-column {
display: flex;
flex-direction: column-reverse;
min-height: 530px;
justify-content: flex-start;
text-align: center;
}

.start-window .first-column .icon-bottom {
align-self: center;
font-size: 17px;
width: 100%;
}

.start-window .first-column .open-icon-list {
margin-bottom: auto;
padding-top: 10px;
}

.start-window .first-column .icon-bottom:hover {
/*border-bottom: 3px solid #76b9ed;*/
background-color: rgba(255, 255, 255, .15);
}

.start-window .first-column .icon-bottom {
padding: 10px;
}

.start-window .second-column .head-med {
padding: 10px;
}

.start-window .second-column {
height: 530px;
overflow: auto;
}

.start-window .second-column .media-heading {
line-height: 35px;
}

.start-window .second-column .media:hover,
.start-window .second-column .head-med:hover {
background-color: rgba(255, 255, 255, .15);
}

.start-window .second-column .media {
margin-top: 0;
padding: 10px;
}

.start-window .second-column .fa-chevron-down {
float: right;
line-height: 20px;
}

.start-window .second-column .mouse-prient {
cursor: pointer;
}

.start-window .head-box {
padding: 10px 10px 10px 0;
margin-left: -5px;
}

.start-window .box {
padding: 0;
}

.start-window .box-style {
background-color: #0079d6;
height: 100px;
padding: 10px;
margin: 10px;
}

.start-window .row {
margin-right: -5px;
}

.start-window .mycontainer {
line-height: 30px;
}

.start-window #number-day {
font-size: 40px;
font-weight: bold;
padding: 10px;
}

.start-window .box-style:hover {
outline: 2px solid #8dc0e7;
}

.hidden-start {
display: none;
}

.start-window-fade {
position: relative;
background-color: rgba(0, 0, 0, 0);
}

.start-window .fluid-container {
padding-top: 530px;
-webkit-transition: all .1s ease-in-out;
-moz-transition: all .1s ease-in-out;
transition: all .1s ease-in-out;
}

.start-window .fluid-container.activecontainer {
padding-top: 0;
}

mark {
background-color: #0079d6;
color: white;
padding: 3px;
margin: 2px;
}

.icon-computer {
width: 60px;
margin: 10px;
text-align: center;
}

.icon-computer p {
text-shadow: 3px 3px 3px #000, -3px -3px 3px #000;
}

.icon-computer:hover {
background-color: rgba(3, 166, 255, 0.3);
outline: 2px solid rgba(3, 166, 255, 0.9);
}

.folders:hover {
background-color: rgba(3, 166, 255, 0.3);
outline: 2px solid rgba(3, 166, 255, 0.9);
}

.overlay-computer {
width: 70%;
height: 60%;
background: #fff;
border: 2px solid #1883d7;
color: black;
overflow: auto;
margin: auto;
position: absolute;
left: 15%;
top: 20%;
transition: transform .5s ease-in-out;
transform: scale(1); /*추후 0으로 변경해야함*/
min-height: 375px;
min-width: 720px;
}

.overlay-computer .left {
float: left;
}

.overlay-computer .right {
float: right;
}

.overlay-computer .first-row-win .left i:after {
content: " | ";
margin: 0 5px
}

.overlay-computer .first-row-win .left i:last-of-type::after {
content: "  ";
margin: 0 5px
}

.overlay-computer i {
padding: 5px;
}

.overlay-computer .first-row-win .right i.fa.fa-times:hover {
color: white;
background-color: #d40000;
}

.start-window .first-column .icon-bottom:hover {
background-color: rgba(255, 255, 255, .15);
}

.overlay-computer .first-row-win .right i:hover {
background-color: #ddd;
}

.overlay-computer .nav>li>a {
position: relative;
display: block;
padding: 3px 15px;
}

.overlay-computer .nav-tabs>li>a {
border-radius: 0;
}

.overlay-computer a {
text-decoration: none;
color: black;
}

.overlay-computer .tab-content {
background-color: #f5f6f7;
padding: 10px;
border-bottom: 1px solid #ddd;
}

.nav-tabs>li.active>a:focus {
background-color: #f5f6f7;
}

.overlay-computer a.home-a,
.overlay-computer li.active a.home-a,
.overlay-computer li:hover a.home-a {
background-color: #2587db;
color: white;
border-color: transparent;
}

.overlay-computer .div-icon-left {
float: left;
}

.overlay-computer .second-row-win i {
color: #808080;
}

.overlay-computer .third-row-win i {
color: #6d6d6d;
margin: 7.5px 0 0;
}

.overlay-computer .fa.fa-chevron-down {
color: #c8c8c8;
}

.overlay-computer .third-row-win input {
width: 100%;
margin: 5px 0 0;
}

.path-icon {
position: absolute;
top: -2px;
left: 17px;
}

.path-input {
padding-left: 25px;
width: 100%;
margin: 5px 0 0;
height: 24px;
border: 1px solid #6d6d6d;
}

.path-icon-1 {
position: absolute;
top: -2px;
right: 17px;
}

.path-icon-2 {
position: absolute;
top: -15px;
right: 32px;
font-size: 24px;
}

.search-input {
width: 100%;
margin: 5px 0 0;
height: 24px;
border: 1px solid #6d6d6d;
padding-right: 25px;
padding-left: 5px;
}

.path-icon-input {
font-size: 11px;
}

.path-icon-input:before {
content: "\f054";
font-family: FontAwesome;
margin: 5px;
}

.panel-default {
border: none;
}

.panel {
margin-bottom: 20px;
background-color: #fff;
border: 1px solid transparent;
border-radius: 4px;
-webkit-box-shadow: none;
box-shadow: none;
}

.panel-default .fa::before {
padding: 5px;
}

.main-folders {
padding: 7.5px;
}

.contain {
height: 60px;
overflow: hidden;
}

.contain img {
max-height: 100%;
}

.image-overlay {
position: absolute;
width: 100%;
margin: auto;
height: 100vh;
top: 0;
left: 0;
z-index: 1;
background-color: #111;
padding-bottom: 40px;
color: #fff;
transition: all .5s ease-in-out;
transform: scale(0);
}

.image-overlay .right {
float: right
}

.image-overlay .right i {
padding: 8px;
}

.image-overlay .right i.fa.fa-times:hover {
color: white;
background-color: #d40000;
}

.image-overlay .right i:hover {
background-color: #ddd;
}

.video-overlay {
position: absolute;
width: 100%;
margin: auto;
height: 100vh;
top: 0;
left: 0;
z-index: 1;
background-color: #111;
padding-bottom: 40px;
color: #fff;
transition: all .5s ease-in-out;
transform: scale(0);
}

.video-overlay .right {
float: right
}

.video-overlay .right i {
padding: 8px;
}

.video-overlay .right i.fa.fa-times:hover {
color: white;
background-color: #d40000;
}

.video-overlay .right i:hover {
background-color: #ddd;
}

.note-overlay {
position: absolute;
width: 100%;
margin: auto;
height: 100vh;
top: 0;
left: 0;
z-index: 1;
background-color: #111;
padding-bottom: 40px;
color: #fff;
transition: all .5s ease-in-out;
overflow: hidden;
transform: scale(1);
}

.note-overlay .right {
float: right
}

.note-overlay .right i {
padding: 8px;
}

.note-overlay .right i.fa.fa-times:hover {
color: white;
background-color: #d40000;
}

.note-overlay .right i:hover {
background-color: #ddd;
}

.note-overlay textarea {
width: 100%;
height: 100vh;
resize: none;
color: black;
padding: 10px;
}

.head-over {
color: white;
padding: 5px;
font-weight: bold;
display: inline-block;
}

div.resizable {
position: relative;
}

div .resizer {
width: 10px;
height: 10px;
background: #ddd;
position: absolute;
right: 0;
bottom: 0;
cursor: se-resize;
}

#a1,
#a2,
#a3,
#a4,
#a5 {
display: none;
}

.video-overlay video {
max-width: 50%;
max-height: 50%;
height: 50%;
}

body {
background-color: #000;
}

.option-box {
position: fixed;
top: 100px;
right: 0;
}

.option-box .color-box {
background-color: #333;
padding: 10px;
float: right;
position: relative;
right: 0px;
transition: all .5s ease-in-out;
border: 3px solid #0079d6;
border-right: none;
}

.option-box .gear-check {
float: right;
padding: 5px;
position: relative;
right: 0px;
transition: all .5s ease-in-out;
background-color: #0079d6;
cursor: pointer;
}

#day {
font-size: 12px;
}

.about-overlay {
position: absolute;
width: 100%;
margin: auto;
height: 100vh;
top: 0;
left: 0;
z-index: 1;
background-color: #111;
padding-bottom: 40px;
color: #fff;
transition: all .5s ease-in-out;
transform: scale(0);
overflow: auto;
}

.about-overlay .right {
float: right
}

.about-overlay .right i {
padding: 8px;
}

.about-overlay img {
height: 300px;
margin: 10px;
}

.about-overlay p {
margin: 10px;
}

.about-overlay .second-row-abo {
padding: 20px;
padding-bottom: 50px;
line-height: 2;
}

.about-overlay .right i.fa.fa-times:hover {
color: white;
background-color: #d40000;
}

.about-overlay .right i:hover {
background-color: #ddd;
}

.btn-primary {
color: #fff;
background-color: #0079d6;
border-color: #0079d6;
font-size: 20px;
margin: 10px 0;
}

.btn-primary:hover {
color: #fff;
background-color: #0079d6;
border-color: #204d74;
}

.img_4{
opacity: 0.4;
}

.overlay-computer{
display: none;
}
/* folder css */


/* 카카오톡 */
.kakao-box__column--box{
  background-color: white;
  position: absolute;
  left: 78%;
  top: 5%
}
/* 카카오톡 */

/* youtube */
html,
body {
  font-family: "Helvetica", sans-serif;
  color: rgb(211, 211, 211);
}

.youtube {
  width: 70%;
  height: 70%;
  display: grid;
  grid-template-rows: 50px auto;
}

.bar {
  background-color: #18181b;
  height: 50px;
  box-shadow: 0px 1px 1px black;
  z-index: 0;
  display: flex;
}

.bar .nav {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.logo {
  height: 30px;
  width: auto;
  display: flex;
  align-items: center;
}

.logo img {
  width: auto;
  height: 100%;
}
.bar .nav .item {
  margin: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

.item img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}


.bar .nav .item:hover {
  color: #76b9ed;
  cursor: pointer;
}

#selected {
  color: #76b9ed;
  border-bottom: 2px solid #a970ff;
}

.input {
  position: r;
  margin-left: 40%;
  padding: 8px 10px;
  border-radius: 30px;
}

.input input {
  padding: 10px;
  border-radius: 30px;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  outline: none;
  color: white;
  padding-right: 100px;
}

.main {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.main .stream-content p:hover {
  cursor: pointer;
  color: #a970ff;
}
.streamer-bar {
  overflow-x: hidden;
  overflow-y: scroll;
}

.streamer-bar small {
  color: #a970ff;
  padding: 10px;
  font-size: 12px;
}

.streamer-bar small:hover {
  color: #a970ff;
  text-decoration: underline;
  cursor: pointer;
}

.streamer-bar .streamer-bar-title p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 5px;
  padding: 10px;
}
.streamer-bar .followed-channels {
  width: 100%;
  display: grid;
}

.streamer-bar .followed-channels .followed-channel {
  height: 40px;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  margin: 0;
  padding: 0 0 0 10px;
}

.streamer-bar .followed-channels .followed-channel:hover {
  background-color: #2e2e35;
  cursor: pointer;
}
.streamer-bar .followed-channels .followed-channel .profile-image {
  width: 30px;
  height: 30px;
  flex-shrink: 0 !important;
}

.streamer-bar .followed-channels .followed-channel .profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.streamer-bar .followed-channels .followed-channel .profile-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1 !important;
  padding-left: 10px;
  width: 50%;
}

.streamer-bar
  .followed-channels
  .followed-channel
  .profile-info
  .profile-game-title,
.streamer-bar
  .followed-channels
  .followed-channel
  .profile-info
  .profile-username {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.streamer-bar .followed-channels .followed-channel .profile-viewers {
  display: flex;
  width: 40px;
  height: auto;
  align-items: flex-start;
  justify-content: left;
  margin-right: 15px;
}

.streamer-bar .followed-channels .followed-channel .live-icon {
  width: 7px;
  height: 7px;
  background-color: red;
  border-radius: 100%;
}

/* .streamer-bar .followed-channels .followed-channel .upload-icon {
  width: 7px;
  height: 7px;
  background-color: lime;
  border-radius: 100%;
} */

.streamer-bar
  .followed-channels
  .followed-channel
  .profile-viewers
  .viewer-count {
  font-size: 13px;
  margin-left: 5px;
  padding-top: 0;
}

.streamer-bar
  .followed-channels
  .followed-channel
  .profile-info
  .profile-username {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
}

.streamer-bar
  .followed-channels
  .followed-channel
  .profile-info
  .profile-game-title {
  font-size: 12px;
  margin: 0;
  overflow: hidden;
  color: rgb(163, 163, 163);
}

.streamer-bar {
  background-color: #1f1f23;
  overflow-y: scroll;
}

.profile-image i{
  padding: 2px 2px;
  font-size: 25px;
}

.streamer-bar-title .mobile-title {
  display: none;
}
.stream-content {
  padding: 20px;
  background-color: #0e0e10;
  overflow-y: scroll;
}

.games {
  margin: 20px;
}

.games-carousel {
  max-width: 100%;
  display: grid;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 10px;
}

.games-carousel .game .game-cover {
  transition: transform 0.1s ease;
}

.games-carousel .game .game-cover:hover {
  transform: translate(5px, -5px);
  cursor: pointer;
}
.games-carousel .game .game-cover img {
  height: 100%;
  width: 100%;
}

.games-carousel .game .game-cover:hover img {
  box-shadow: -5px 5px #a970ff;
}

.games-carousel .game .game-info .game-title,
.stream-carousel .stream .stream-text .stream-title,
.video-carousel .video .video-text .video-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.game-info .game-viewership,
.stream-text .stream-host,
.stream-text .stream-game,
.video-text .video-host,
.video-text .video-game {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
  color: rgb(163, 163, 163);
}

.title-highlight {
  color: #a970ff;
}

.game-categories span {
  background-image: linear-gradient(45deg, #6441a4, #a970ff);
  padding: 2px 0.8rem;
  color: white;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 600;
}

.stream-carousel,
.video-carousel {
  max-width: 100%;
  display: grid;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.stream-carousel .stream .stream-thumbnail,
.video-carousel .video .video-thumbnail {
  transition: transform 0.1s ease;
}

.stream-carousel .stream .stream-thumbnail:hover,
.video-carousel .video .video-thumbnail:hover {
  transform: translate(5px, -5px);
  cursor: pointer;
}

.stream-carousel .stream .stream-thumbnail:hover img,
.video-carousel .video .video-thumbnail:hover img {
  box-shadow: -5px 5px #a970ff;
}

.stream-carousel .stream .stream-thumbnail img,
.video-carousel .video .video-thumbnail img {
  width: 100%;
  height: 100%;
}

.stream-carousel .stream .stream-thumbnail span,
.video-carousel .video .video-thumbnail span {
  position: relative;
  font-size: 14px;
}

.live {
  background-color: red;
  border-radius: 5px;
  padding: 5px;
  left: 5px;
  top: 25px;
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.viewers {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 30px;
  left: 5px;
  padding: 5px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 100;
  color: white;
}

.stream-carousel .stream-info,
.video-carousel .video-info {
  display: flex;
}

.stream-carousel .stream-info .stream-text,
.video-carousel .video-info .video-text {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.stream-carousel .stream-info .stream-profile-avatar,
.video-carousel .video-info .video-profile-avatar {
  width: 50px;
  min-width: 50px;
  height: 50px;
  margin-right: 10px;
}

.stream-carousel .stream-info .stream-profile-avatar img,
.video-carousel .video-info .video-profile-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
}

.divider .bar {
  height: 1px;
  width: auto;
  padding: 0 10px;
  flex-grow: 1 !important;
  background-color: rgb(39, 39, 39);
}

.divider .show-more {
  padding: 10px;
  margin: 10px;
  color: #a970ff;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.1s ease;
  font-size: 12px;
}

.divider .show-more:hover {
  background-color: rgb(36, 36, 36);
  cursor: pointer;
  border-radius: 5px;
}
@media (max-width: 1305px) {
  html,
  body {
    width: 100%;
    height: 100%;
  }
  .main {
    grid-template-columns: 50px 12fr;
  }

  .streamer-bar {
    overflow: hidden;
  }

  .streamer-bar .streamer-bar-title .desktop-title {
    display: none;
  }

  .streamer-bar .streamer-bar-title .mobile-title {
    display: block;
    text-align: center;
  }

  .streamer-bar small {
    display: none;
  }
}

.closebtn {
  padding: 30px;
  margin-left: 36%;
  font-size: 50px;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.closebtn {
  -webkit-animation: closebtn 0.5s ease-in-out forwards;
}

@keyframes closebtn {
  from {
    opacity: 0;
}
to {
    opacity: 1;
    transform: none;
}
}

.closebtn:hover {
  color: #76b9ed;
}

.closebtn i {
  border: 1px solid white;
  padding: 10px 17px;
  border-radius: 50%;
}
/* youtube */

/* musicapp */


body {
	font-family: 'Open Sans';
}

.float-r { float: right; }
.float-l { float: left; }

div.music {
	width: 310px;
	height: 480px;
	margin: 5% auto 0;
  position: relative;
  background: #333;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
	overflow: hidden;
}

div.top {
	height: 30px;
	background: #EAEAEA;
	padding: 7px;
	z-index: 0;
}

div.menu a {
	display: inline-block;
	margin: 2px 2px 2px 2px;
	height: 12px;
	width: 12px;
	border-radius: 12px;
}
div.menu a:nth-child(1) { background: #2ecc71; }
div.menu a:nth-child(2) { background: #f1c40f; }
div.menu a:nth-child(3) { background: #e74c3c; }

div.side-menu {
	width: 100%;
	height: 100%;
	position: absolute;
	background: #333;
	z-index: 98;
	margin-left: -310px;
}

div.side-menu-background {
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	background: url('http://cdn.postgradproblems.com/wp-content/uploads/2013/08/8c7b216218c104dd0b2cd5a39626351c.jpg') no-repeat 10% 0%;
	background-size: auto 100%;
	opacity: .07;
	z-index: 95;
}

div.side-menu a.close {
	position: absolute;
	right: 20px;
	top: 18px;
	font-size: 25px;
	color: #FFF;
	z-index: 100;
}

div.side-menu ul {
	margin: 25px 0 0 0;
	z-index: 99 !important;
	position: relative;
}

div.side-menu li {
	color: #AAA;
	padding: 16px 0 13px 28px;
	z-index: 99;
}

div.side-menu li.active {
	color: #FFF;
}

div.side-menu li a {
	color: inherit;
	text-decoration: none;
	font-size: 20px;
	font-weight: 400;
	z-index: 100;
}

div.side-menu li a i {
	margin-right: 7px;
}

div.overlay-image {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .6;
	top: 0;
	z-index: -2 !important;
	-webkit-filter: blur(4px);
	        filter: blur(4px);
}

div.overlay-image.the-nights.active {
	-webkit-animation: fadeIn 0.8s;
	        animation: fadeIn 0.8s;
	background: url('./music_img/1.jpeg') no-repeat 45% 20%;
	background-size: 200% auto;
}

div.overlay-image.dont-look-down.active {
	-webkit-animation: fadeIn 0.8s;
	        animation: fadeIn 0.8s;
	background: url('./music_img/2.jpeg') no-repeat 45% 20%;
	background-size: 200% auto;
}

div.overlay-image.avalanche.active {
	-webkit-animation: fadeIn 0.8s;
	        animation: fadeIn 0.8s;
	background: url('./music_img/3.jpeg') no-repeat 45% 20%;
	background-size: 200% auto;
}

div.overlay {
	position: absolute;
  top: 0;
  z-index: -1 !important;
  width: 100%;
	height: 100%;
  background: -webkit-gradient(linear,left top, left bottom,color-stop(0, rgba(51,51,51,0.65)),to(rgba(51,51,51,1)));
  background: linear-gradient(to bottom,rgba(51,51,51,0.65) 0,rgba(51,51,51,1) 100%);
}

div.nav {
	width: 500px;
	margin: 5px auto 0 auto;
}

div.nav a {
	color: #FFF;
	font-size: 24px;
}

div.cover {
	width: 100%;
	margin: 15px auto 20px auto;
}

div.cover img {
	height: 180px;
	width: 180px;
	box-shadow: 0 3px 15px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}

.jcarousel {
		width: 310px;
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
		width: 310px;
		height: 180px;
		margin-left: 65px;
}

.jcarousel-pagination {
	display: none;
}

div.info {
	text-align: center;
	color: #fff;
}

div.info h3 {
	font-weight: 600;
	font-size: 14px;
}

div.info p {
	font-size: 12px;
	color: #999;
	margin: 7px 0;
}

div.action {
	text-align: center;
	margin: 20px 0;
}

div.action .previous, div.action .next {
	font-size: 26px;
	margin: 0 10px;
	color: #FFF;
}

div.action .play {
	font-size: 40px;
	margin: 0 25px;
	color: #FFF;
}

div.options {
	text-align: center;
	margin: 25px 0 35px 0;
	display: block;
}

div.options a {
	color: #999;
	margin: 0 15px;
}

div.options a.active {
	color: #e74c3c;
}

div.volume-slider {
	text-align: center;
	margin-top: 0px;
	display: block;
	height: 140px;
	background: #303030;
	position: absolute;
	z-index: 97;
	width: 100%;
}

div.volume-slider-inner {
	padding: 60px 0 0 0;
}

div.volume-slider div.volume-slider-inner i {
	color: #666;
	padding: 0 6px;
}

div.length input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 8px;
  width: 8px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
}

div.volume-slider input[type='range'] {
	height: 2px;
	width: 180px;
	background: #999;
	-webkit-appearance: none;
	border: none;
	outline: 0;
}

div.volume-slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 30px;
  background: #ffffff;
  cursor: pointer;
}

div.volume-slider a.close {
	position: absolute;
	color: #DDD;
	right: 14px;
	top: 10px;
	font-size: 18px;
}

div.length {
	width: 280px;
	margin: 20px auto;
	color: #999;
	font-size: 10px;
}

div.length label, div.length output {
	position: absolute;
	margin-top: -5px;
}

div.length output {
	margin-left: -26px;
}

div.length label {
	margin-left: 15px;
}

div.length input[type="range"] {
	width: 250px;
	margin-left: 14px;
	-webkit-appearance: none;
	background-color: #999;
	height:2px;
	border: none;
	outline: 0;
}

::-moz-selection { /* Code for Firefox */
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, .0);
}

::selection {
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, .0);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
}
/* musicapp */